{% block before_checkout_form_wrapper %}
    {% do action( 'woocommerce_before_checkout_form', checkout ) %}
{% endblock %}

{% if not checkout.is_registration_enabled() and checkout.is_registration_required() and not fn("is_user_logged_in") %}
    {% block checkout_registration_required %}
        {{ __( 'You must be logged in to checkout.', 'woocommerce' )|apply_filters("woocommerce_checkout_must_be_logged_in_message")|e('esc_html') }}
    {% endblock %}
{% else %}
    <form name="checkout" method="post" class="checkout woocommerce-checkout"
          action="{{ fn("wc_get_checkout_url")|e('esc_url') }}" enctype="multipart/form-data"
          aria-label="{{ __('Checkout', 'woocommerce')|e('html') }}">

        {% block before_checkout_form %}
        {% endblock %}

        {% if checkout.get_checkout_fields() %}

            {% block before_checkout_form_customer_details %}
                {% do action( 'woocommerce_checkout_before_customer_details' ) %}
            {% endblock %}

            {% block checkout_form_customer_details %}
                <div class="col2-set" id="customer_details">
                    <div class="col-1">
                        {% do action( 'woocommerce_checkout_billing' ) %}
                    </div>

                    <div class="col-2">
                        {% do action( 'woocommerce_checkout_shipping' ) %}
                    </div>
                </div>
            {% endblock %}

            {% block after_checkout_form_customer_details %}
                {% do action( 'woocommerce_checkout_after_customer_details' ) %}
            {% endblock %}

        {% endif %}

        {% block before_checkout_order_review_heading %}
            {% do action( 'woocommerce_checkout_before_order_review_heading' ) %}
        {% endblock %}

        {% block checkout_order_review_heading %}
            <h3 id="order_review_heading">{{ __('Your order', 'woocommerce')|e('esc_html') }}</h3>
        {% endblock %}

        {% block before_checkout_order_review %}
            {% do action( 'woocommerce_checkout_before_order_review' ) %}
        {% endblock %}

        {% block checkout_order_review %}
            <div id="order_review" class="woocommerce-checkout-review-order">
                {% do action( 'woocommerce_checkout_order_review' ) %}
            </div>
        {% endblock %}

        {% block after_checkout_order_review %}
            {% do action( 'woocommerce_checkout_after_order_review' ) %}
        {% endblock %}

        {% block after_checkout_form %}
        {% endblock %}

    </form>

    {% block after_checkout_form_wrapper %}
        {% do action( 'woocommerce_after_checkout_form', checkout ) %}
    {% endblock %}

{% endif %}


